<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/movies/edit/<%= dataMovies[0].id %>" method="post">
        <input type="text" name="name" value="<%= dataMovies[0].name %>">
        <input type="text" name="year" value="<%= dataMovies[0].released_year %>">
        <select name="genre">
            <%for(let i = 0; i < genre.genre.length;i++){
              if(genre.genre[i] == dataMovies[0].genre){
            %>
                <option value="<%= genre.genre[i] %>" selected><%= genre.genre[i] %></option>
            <%
                }else{
            %>
                <option value="<%= genre.genre[i] %>"><%= genre.genre[i] %></option>
            <%
                }
              }
            %>
        </select>
        <select name="prod">
            <%
            dataProd.forEach((rowsProd)=>{
                if(rowsProd.id == dataMovies[0].prodHouseId){
            %>
                    <option value="<%= rowsProd.id %>" selected><%= rowsProd.name_prodHouse %></option>
            <%
                }else{
            %>
                    <option value="<%= rowsProd.id %>">
                        <%= rowsProd.name_prodHouse %>
                    </option>
            <%
                }
             }) %>
        </select>
        <input type="submit" value="simpan">
    </form>
</body>
</html>
