<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Movie</h1>
    <!-- name varchar(50),
    //             released_year INTEGER,
    //             genre varchar(10),
    //             prodHouseId INTEGER REFERENCES ProductionHouses(id)); -->
    <form action="/movies/edit/<%=datamovie.id%>" method="get">
      Name: <input type="text" name="name" value="<%=datamovie.name%>"><br>
      Release Year: <input type="text" name="year" value="<%=datamovie.released_year%>"><br>
      Genre: <select name="genre">
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="horor">Horor</option>
              </select>
              <br>
            Production House :
             <select name="prodHouseId">

               <option
               <%if(datamovie.id )%>
               value="<%=datamovie.id%>"><%=datamovie.nameProd%></option>
            </select>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
