<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      <input type="input" name="name" value="<%=movies[0].name%>">
      <input type="input" name="released_year" value="<%=movies[0].released_year%>">
      <input type="input" name="genre" value="<%=movies[0].genre%>">
      <select class="" name="prodHouseId">
        <%for(var i = 0; i < ph.length; i++) {%>
        <option value="<%=ph[i].id%>"><%=ph[i].name_prodHouse%></option>
        <%}%>
      </select>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
