<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Halaman Movies</h1>
    <form class="" action="/movies/edit/<%=movie.id%>" method="post">
      <input type="text" name="movies" value="<%=movie.name%>">
      <input type="text" name="released" value="<%=movie.released_year%>">
      <select class="" name="genre">
        <%let genre = ['action','comedy','drama','horor']
          genre.forEach((g,i) => {
            if(movie.genre == genre[i]){%>
              <option value="<%=genre[i]%>" selected><%=genre[i]%></option>
        <%}else{%>
              <option value="<%=genre[i]%>"><%=genre[i]%></option>
        <%}})%>
      </select>
      <select class="" name="prodhouse">
        <%prodHouse.forEach(p => {
          if(movie.prodHouseId == p.id){%>
            <option value="<%=p.id%>" selected><%=p.name_prodHouse%></option>
        <%}else{%>
          <option value="<%=p.id%>"><%=p.name_prodHouse%></option>
        <%}})%>
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
