<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../assets/css/bulma.min.css" type="text/css">
  <link rel="stylesheet" href="../../assets/css/mystyle.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Movies</title>
</head>
<body>

  <% include assets/partials/nav-bar %>

  <div class="container">

    <form action="/movies/edit/<%=data_Movies.id%>" method="post">
      <div class="field">
        <label class="label" style="text-align:left;">Movie</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-medium" type="text" value="<%=data_Movies.name%>" name="name">
          <span class="icon is-small is-left">
            <i class="fa fa-file-video-o"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label class="label" style="text-align:left;">Release Year</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-medium" type="text" value="<%=data_Movies.released_year%>" name="released_year">
          <span class="icon is-small is-left">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="field">
							  <label class="label">Genre</label>
							  <div class="control">
							    <div class="select is-fullwidth">
							      <select name="genre">
                      <%if(data_Movies.genre == 'comedy'){%>
  							        <option value="comedy">comedy</option>
                        <option value="action">action</option>
                        <option value="drama">drama</option>
  							        <option value="horor">horor</option>
                      <%}%>
                      <%if(data_Movies.genre == 'drama'){%>
                        <option value="drama">drama</option>
  							        <option value="comedy">comedy</option>
                        <option value="action">action</option>
  							        <option value="horor">horor</option>
                      <%}%>
                      <%if(data_Movies.genre == 'horor'){%>
                        <option value="horor">horor</option>
                        <option value="drama">drama</option>
  							        <option value="comedy">comedy</option>
                        <option value="action">action</option>
                      <%}%>
                      <%if(data_Movies.genre == 'action'){%>
                        <option value="action">action</option>
                        <option value="drama">drama</option>
  							        <option value="comedy">comedy</option>
  							        <option value="horor">horor</option>
                      <%}%>

							      </select>
							    </div>
							  </div>
						</div>

            <div class="field">
      							  <label class="label">Production House</label>
      							  <div class="control">
      							    <div class="select is-fullwidth">
      							      <select name="ph">
                            <% for(let i=0; i<data_Ph.length; i++) {%>
                              <%
                                let selected = ''
                                if(data_Movies.prodHouseId == data_Ph[i].id){
                                  selected = "selected"
                                }
                              %>

                            <option value="<%=data_Ph[i].id%>" <%=selected%> ><%=data_Ph[i].name_prodHouse%></option>
                            <%}%>
      							      </select>
      							    </div>
      							  </div>
      						</div>

          <div style="text-align: center; margin-top:33px;" class="control">
            <input class="button is-success is-outlined is-medium" type="submit" value="Submit input">
            <input class="button is-success is-outlined is-medium" type="reset" value="Reset input">
          </div>
    </form>

  </div>

</body>
</html>
