<!DOCTYPE html>
<html>
<head>
	<title>MOVIES</title>
</head>
<body>
	<h1> HALAMAN MOVIES</h1>
	<table border="1">
		<thead>
			<tr>
				<th> NAME MOVIE </th>
				<th> Released Year </th>
				<th> Genre </th>
				<th> Production House </th>
			</tr>	
		</thead>
		<tbody>
			<% for (let i = 0 ; i < data.length ; i++){%>
			<tr>
				<td><%= data[i].name %></td>
				<td><%= data[i].released_year %></td>
				<td><%= data[i].genre %></td>
				<td><%= data[i].name_prodHouse %></td>
				<td><a href="/movies/edit/<%= data[i].id %> "> EDIT </a> </td>
			</tr>
			<%}%>
		</tbody>
	</table>	
</body>
</html>
